.footer-resorts-offers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 1339px) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    max-width: 840px;
    margin-top: 65px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    width: 100%;
  }
}

.footer-resorts-offers__title {
  color: var(--blue-color);

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;

  margin-bottom: 25px;
}

.footer-resorts-offers__text {
  span {
    font-weight: 700;
    color: var(--blue-color);
    margin-left: 20px;
  }

  @media (max-width: 767px) {
    margin-top: 10px;
  }
}

.footer-resorts-offers__wrapper {
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    flex-direction: column;
    width: 100%;
  }
}
