.footer {
  background: #f8f8f8;
  box-shadow: 0 -270px 0 0 #f8f8f8;
}

.footer__wrapper {
  display: flex;
  margin-bottom: 100px;

  @media (max-width: 1339px) {
    flex-wrap: wrap;
    margin-bottom: 80px;
  }

  @media (max-width: 767px) {
    margin-bottom: 40px;

    flex-direction: column;
    align-items: center;
  }
}
