.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__list {
  display: flex;
  margin-right: 70px;

  @media (max-width: 1339px) {
    display: none;
  }

  &--menu {
    @media (max-width: 1339px) {
      display: flex;
      justify-content: space-around;
      position: absolute;
      top: 0;
      right: -35px;

      background: linear-gradient(166.87deg, #2db9fe 0%, #4edbfc 100%);
      box-shadow: 0 4px 16px rgba(30, 182, 255, 0.2);
      flex-direction: column;
      width: 320px;
      padding-left: 50px;
      height: 140px;
      align-items: flex-start;
    }
  }
}

.main-nav__item {
  margin-right: 40px;

  &:hover {
    text-decoration: underline;
  }
}

.main-nav__link {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.main-nav__button {
  display: none;
  background: transparent;
  border: none;
  position: absolute;


  @media (max-width: 1339px) {
    display: inline-block;
    right: 40px;
  }

  @media (max-width: 767px) {
    margin-left: auto;
    right: 24px;
  }
}

.main-nav__line {
  width: 24px;
  height: 2px;

  &:not(:first-child) {
    margin-top: 5px;
  }

  background: white;
  border-radius: 1px;
}
