.promotions {
  margin-top: 100px;
}

.promotions__container {
  position: relative;
}

.promotions__wrapper {
  background-color: var(--white-color);
}

.promotions__list {
  display: flex;

  margin-bottom: 90px;
}

.promotions__link {
  display: block;

  width: 100%;
  box-shadow: 0 12px 48px rgba(0, 0, 0, 0.06);

  border-radius: 6px;
  overflow: hidden;
}

.promotions__item {
  display: flex;
  justify-content: center;
}

.promotions__thumb {
  display: block;

  width: 100%;
  height: 200px;
  object-fit: cover;
}

.promotions__caption {
  background: white;

  padding: 25px 40px 35px 40px;
  height: 180px;

  @media (max-width: 767px) {
    height: 235px;
  }
}

.promotions__subtitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--gray-color);
}

.promotions__text {
  font-size: 16px;
  line-height: 22px;
  color: var(--gray-color);
  margin-top: 10px;
}

.promotions__button {
  position: absolute;

  border: none;
  background: transparent;
  display: inline-block;
  padding: 0;

  cursor: pointer;

  &--right {
    transform: translateY(-50%) rotate(180deg);
    top: 50%;
    right: -55px;

    @media (max-width: 1339px) {
      top: -15px;
      right: 60px;
      transform: rotate(180deg);
    }

    @media (max-width: 767px) {
      right: 24px;
      top: -15px;
    }
  }

  &--left {
    transform: translateY(-50%);
    top: 50%;
    left: -55px;

    @media (max-width: 1339px) {
      transform: none;
      left: auto;
      right: 110px;
      top: -11px;
    }

    @media (max-width: 767px) {
      right: 74px;
    }
  }
}
