.search {
  margin-top: 100px;

  @media (max-width: 767px) {
    margin-top: 25px;
  }
}

.search__list {
  display: flex;
  padding: 15px 0;

  overflow-x: auto;
}

.search__item {
  color: var(--gray-color);
  background: #ffffff;


  margin-right: 5px;

  border-radius: 100px;

  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.search__radio {
  cursor: pointer;
  padding: 5px 15px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .search__radio {
  color: var(--blue-color);
}

input[type="radio"]:not(:checked) + .search__radio {
  transition: 0.2s;
}

input[type="radio"]:hover + .search__radio {
  transition: 0.2s;
  color: var(--blue-color);
}

